{% extends 'base.html.twig' %}

{% block title %}{{ film.title }}
{% endblock %}

{% block body %}
    <div class="show mb-3rem">
        <div class="show-image">
            <img src="{{ vich_uploader_asset(film) }}" alt="{{ film.title }}" class="mb-1rem">
        </div>
        <div class="show-content">
	        <h1 class="mb-1rem center">{{ film.title }}</h1>

            <a href="{{ path('app_films_category_show', {'slug' : film.category.slug}) }}" class="btn btn-info mr-auto mb-1rem">{{ film.category.name }}</a>

            <div class="rate">
                <div class="display-rate">
                    {% if film.average == null %}
                        <p>Pas de notes</p>
                    {% else %}
                        <p>
                            Moyenne {{ film.average }}/5
                            <i class="fa-solid fa-star star-icon"></i>
                        </p>
                    {% endif %}

                    {% for star in app.user.stars %}
                        {% if star.film.title == film.title %}
                            <p>
                                Votre note {{ star.number }}/5
                                <i class="fa-solid fa-star star-icon"></i>
                            </p>
                        {% endif %}
                    {% endfor %} 
                </div>

                {% if app.user %}
                    
                    {{ form_start(formStars) }}

                    {{ form_widget(formStars) }}

                    <button type="submit" class="btn btn-primary mb-1rem">
                        <i class="fas fa-save"></i>
                        Valider la note
                    </button>

                    {{ form_end(formStars) }}
                {% endif %}
            </div>

            <p class="mb-1rem">{{ film.synopsis }}</p>

            <div class="show-footer">
                <p>Réalisateur : {{ film.director }}</p>
                <p>Ajouté le : {{ film.createdAt|date('d/m/Y') }}</p>
            </div>
        </div>
    </div>

    <div class="comment">
        {% for comment in comments %}
            {% include "films/_comment_card.html.twig" %}
        {% endfor %}

        {% if app.user %}
            
            {{ form_start(formComment) }}

            {{ form_widget(formComment) }}

            <button type="submit" class="btn btn-primary mb-1rem">
                <i class="fas fa-save"></i>
                Ajouter le commentaire
            </button>

            {{ form_end(formComment) }}
        {% endif %}
    </div>

{% endblock %}