{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateur {{ user.fullName }}{% endblock %}

{% block body %}
	<h1>Utilisateur {{ user.fullName }}</h1>

    <div class="back-office">
		{% include "admin/shared/_aside.html.twig" %}
        <div class="back-office-user-show">
            <div class="back-office-infos-show">
                <p>Nom : {{ user.lastName }}</p>
                <p>Prénom : {{ user.firstName }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Genre : {{ user.gender }}</p>
                {% for role in user.roles %}
                    <p>Rôle : {{ role }}</p>
                {% endfor %}
            </div>

            {% if user.stars | length > 0 %}
                <div class="back-office-stars-show">
                    {% for star in user.stars %}
                        <h3 class="back-office-star-title">
                            <a href="{{ path('app_films_show', {'slug' : star.film.slug }) }}">
                                Film : {{ star.film.title }} {{ star.film.average }}/5
                                <i class="fa-solid fa-star star-icon"></i>
                            </a>
                        </h3>
                        <p>
                            Note de {{ user.fullName }} : {{ star.number }}/5
                            <i class="fa-solid fa-star star-icon"></i>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if user.comment | length > 0 %}
                <div class="back-office-comments-show">
                    {% for comment in user.comment %}
                        <h3 class="account-comment-title">Film : <a href="{{ path('app_films_show', {'slug' : comment.film.slug }) }}">{{ comment.film.title }}</a></h3>
                        {% include "films/_comment_card.html.twig" %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}