<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Le Récap | 
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
			<link rel="stylesheet" href="{{ asset('/css/admin/style.css') }}">
			{% if app.user %}
				{% if app.user.mode == "light" %}
						<link rel="stylesheet" href="{{ asset('/css/admin/light.css') }}">
				{% elseif app.user.mode == "dark" %}
						<link rel="stylesheet" href="{{ asset('/css/admin/dark.css') }}">
				{% endif %}
			{% else %}
				<link rel="stylesheet" href="{{ asset('/css/light.css') }}">
			{% endif %}
		{% endblock %}
	</head>
	<body>
		{% include "admin/shared/_navbar.html.twig" %}
		<div class="container">		
			{% for rubrique, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ rubrique }}">
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			{% endfor %}
		{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
		{% endblock %}
	</body>
</html>