{% extends 'admin/base.html.twig' %}

{% block title %}Film {{ film.title }}{% endblock %}

{% block body %}
	<h1>Film {{ film.title }}</h1>

    <div class="back-office">
		{% include "admin/shared/_aside.html.twig" %}
        <div class="back-office-film-show">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-center">
                <i class="fas fa-save"></i>
                Mettre à jour
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}