<footer>
    <div class="container-footer">
        <div class="center">
            <a href="{{ path('homepage') }}" class="title-footer">Le Récap</a>
        </div>
        <div class="footer-link mb-3rem">
            <div class="footer-col flex-direct-col">
                <h3>Escape Game</h3>

                <ul>
                    <li><a href="{{ path('app_escape_game') }}">Partie 1</a></li>
                    <li><a href="{{ path('app_escape_game_next') }}">Partie 2 (finir la partie 1 en priorité)</a></li>
                </ul>
            </div>
            <div class="footer-col flex-direct-col">
                <h3>Films</h3>

                <ul>
                    <li><a href="{{ path('app_films') }}">Accueil</a></li>
                    <li><a href="{{ path('app_films_all') }}">Tous les films</a></li>
                    <li><a href="{{ path('app_films_category_all') }}">Toutes les catégories</a></li>
                    <li><a href="{{ path('app_films_create') }}">Ajouter un film</a></li>
                    <li><a href="{{ path('app_films_category_create') }}">Ajouter une catégorie</a></li>
                </ul>
            </div>
            <div class="footer-col flex-direct-col">
                <h3>Compte</h3>

                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                        <li><a href="{{ path('app_user_info', {'name' : app.user.firstName }) }}">Données personnelles</a></li>
                        <li><a href="{{ path('app_user_password', {'name' : app.user.firstName }) }}">Mot de passe</a></li>
                        <li><a href="{{ path('app_user_comments', {'name' : app.user.firstName }) }}">Commentaires</a></li>
                        <li><a href="{{ path('app_user_stars', {'name' : app.user.firstName }) }}">Notes</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">S'identifier</a></li>
                        <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                    {% endif %}
                    
                </ul>
            </div>
            <div class="footer-col logo-networks">
                <a href="#"><i class="fa-brands fa-linkedin-in" id="linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f" id="facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter" id="twitter"></i></a>
                <a href="https://github.com/GitCeres" target="_blank"><i class="fa-brands fa-github" id="github"></i></a>
            </div>
        </div>
        <div class="footer-copyright pb-1rem">
            <p class="center">
                <i class="fa-regular fa-copyright"></i>Le Récap | Tous droits réservés
            </p>
        </div>
    </div>
</footer>