<nav id="nav-films">
    <ul>
        <li><a href="{{ path('app_films') }}">Accueil</a></li>
        <li><a href="{{ path('app_films_all') }}">Tous les films</a></li>
        <li>
            {{ render(controller('App\\Controller\\CategoryController::renderListCategory')) }}
        </li>
        <li><a href="{{ path('app_films_create') }}">Ajouter un film</a></li>
        <li><a href="{{ path('app_films_category_create') }}">Ajouter une catégorie</a></li>
    </ul>
</nav>