<nav id="nav-main">
    <div class="main-navlinks">
        <button class="hamburger" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="navlinks-container">
            <ul class="navlinks-container-slide">
                <li>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('app_escape_game') }}">Escape Game</a>
                </li>
                <li>
                    <a href="{{ path('app_films') }}">Films</a>
                </li>
            </ul>
        </div>
    </div>

    <a href="{{ path('homepage') }}" class="nav-icon">Le Récap</a>

    <div class="nav-authentication">
        {% if app.user %}
            <a href="{{ path('app_account') }}" class="login-mobile">
                <i class="fa-solid fa-user"></i>
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="login-mobile">
                <i class="fa-regular fa-user"></i>
            </a>
        {% endif %}
        
        <div class="sign-btn">
            {% if app.user %}
                <a href="{{ path('app_account') }}" class="btn-sign">Compte</a>
                <a href="{{ path('app_logout') }}" class="btn-sign">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn-sign">S'identifier</a>
                <a href="{{ path('app_register') }}" class="btn-sign">S'enregistrer</a>
            {% endif %}
        </div>
    </div>
</nav>