<nav>
    <div class="main-navlinks">
        <button class="hamburger" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="navlinks-container">
            <ul class="navlinks-container-slide">
                <li>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li>
                    <a href="#">Autre page</a>
                </li>
                <li>
                    <a href="#">Encore une autre</a>
                </li>
                <li>
                    <a href="#">Encore</a>
                </li>
                <li>
                    <a href="#">De nouveau</a>
                </li>
                <li>
                    <a href="#">Voilà</a>
                </li>
            </ul>
        </div>
    </div>

    <a href="{{ path('homepage') }}" class="nav-icon">Le Récap</a>

    <div class="nav-authentication">
        <a href="#" class="login-mobile">
            <i class="fa-solid fa-user"></i>
        </a>

        <div class="sign-btn">
            {% if app.user %}
                <button type="button"><a href="{{ path('app_logout') }}">Déconnexion</a></button>
            {% else %}
                <button type="button"><a href="{{ path('app_login') }}">S'identifier</a></button>
                <button type="button"><a href="{{ path('app_register') }}">S'enregistrer</a></button>
            {% endif %}
        </div>
    </div>
</nav>